<ion-header>
  <ion-toolbar>
    <ion-title>
      Settings
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-item>
    <ion-label>Language</ion-label>
    <ion-select placeholder="Select One">
      <ion-select-option value="fr"> 🇫🇷 French</ion-select-option>
      <ion-select-option value="mg"> 🇲🇬 Malagasy</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label>Dark mode</ion-label>
    <ion-toggle></ion-toggle>
  </ion-item>
  <ion-button color="primary" expand="full">Save</ion-button>
</ion-content>
