<ion-app>
  <ion-menu menuId="main-menu" content-id="main">
    <ion-header>
      <ion-toolbar>
        <ion-title>
          {{'app_name' | translate}}
        </ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-menu-toggle routerLink='/'>
          <ion-item>
            <ion-icon name="home-outline" slot="start"></ion-icon>
            <ion-label>{{'home_page.title' | translate }}</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle routerLink='/definition'>
          <ion-item>
            <ion-icon name="document-text-outline" slot="start"></ion-icon>
            <ion-label>{{ 'definition_page.title' | translate }}</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle routerLink='/panneaux'>
          <ion-item>
            <ion-icon name="trail-sign-outline" slot="start"></ion-icon>
            <ion-label>{{ 'panneaux_page.title' | translate}}</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle routerLink='/settings'>
          <ion-item>
            <ion-icon name="settings-outline" slot="start"></ion-icon>
            <ion-label>{{ 'settings_page.title' | translate}}</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
   <ion-menu-toggle routerLink="/apropos">
      <ion-item>
        <ion-icon name="information-circle-outline" slot="start"></ion-icon>
        <ion-label>{{'about_page.title'|translate}}</ion-label>
      </ion-item>
   </ion-menu-toggle>
  </ion-menu>
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
