<ion-header>
  <ion-toolbar>
    <ion-title>
      Apropos
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <img src="https://avatars.githubusercontent.com/u/40733956?s=460&u=c7cd3f42fe975d6151c3611811e6fc7703d96f36&v=4">
    <ion-card-header>
      <ion-card-title>Chrys Rakotonimanana</ion-card-title>
      <ion-card-subtitle>Developpeur Junior</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>
</ion-content>
